html, body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 100px;
	display: flex;
	padding-left: 80px;
	padding-right: 80px;
	justify-content: space-between;
	z-index: 1;
}
.header-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bentley-logo{
	width: 160px;
	height: 55px;
}
.logo-tittle{
	font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #3e3e3e;
    letter-spacing: 1mm;
}
.header-mid{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-mid-items{
	font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7b7474;
    margin-right: 10px;
    cursor: pointer;
}
.arrow-icon{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: none;
	border-top: none;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
	margin-bottom: 5px;
	margin-right: 50px;
	cursor: pointer;
	border-color: #7b7474;
}
.arrow-icon:last-child{
	margin-right: 0px;
}
.header-mid-items:hover{
	color: #355c4d;
} 
.arrow-icon:hover{
	border-color: #355c4d;
}
.header-right{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-right-items{
	font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7b7474;
    margin-right: 30px;
    cursor: pointer;
}
.header-right-items:last-child{
	margin-right: 0px;
}
.header-right-items:hover{
	color: #355c4d;
}
.slide{
	position: relative;
}
.sld{
	z-index: 1;
}
.slide1-wrap {
    position: absolute;
    right: 70px;
    top: 270px;
    width: 453px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: fade;
    animation-duration: 5s;
  	animation-delay: 0s;
  	animation-timing-function: ease;
}
@keyframes fade {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slide-tittle, .slide-disc{
	color: white;
	font-family: Helvetica;
	width: 80%;
}
.slide-tittle{
	letter-spacing: 0.5mm;
	font-size: 30px;
}
.slide-disc{
	letter-spacing: 0.2mm;
	font-size: 15px;
}
.slide-btn1{
	width: 85%;
	height: 50px;
	border: none;
	background-color: #355c4d;
	color: white;
	letter-spacing: 0.2mm;
}
.slide-btn1:hover{
	color: white;
	background-color: transparent;
	font-weight: bold;
	border: 1px solid white;
	-webkit-box-shadow: 0px 3px 29px 8px rgba(17,17,18,0.84);
	-moz-box-shadow: 0px 3px 29px 8px rgba(17,17,18,0.84);
	box-shadow: 0px 3px 29px 8px rgba(17,17,18,0.84);
}
.slide-btn2{
	width: 85%;
	height: 50px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	letter-spacing: 0.2mm;
	margin-top: 15px;
}
.slide-btn2:hover{
	-webkit-box-shadow: 0px 3px 29px 8px rgba(17,17,18,0.84);
	-moz-box-shadow: 0px 3px 29px 8px rgba(17,17,18,0.84);
	box-shadow: 0px 3px 29px 8px rgba(17,17,18,0.84);
	opacity: 0.8;
	color: black;
	border: 1px solid black;
	font-weight: 600;
}
.slide2-wrap {
    position: absolute;
    left: 150px;
    top: 270px;
    width: 453px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: fade;
    animation-duration: 5s;
  	animation-delay: 0s;
  	animation-timing-function: ease;
}
.slide2-btn1{
	opacity: 0.8;
}
.slide3-wrap {
    position: absolute;
    left: 150px;
    top: 270px;
    width: 453px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: fade;
    animation-duration: 5s;
  	animation-delay: 0s;
  	animation-timing-function: ease;
}
.slide4-wrap {
    position: absolute;
    right: 70px;
    top: 240px;
    width: 453px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: fade;
    animation-duration: 5s;
  	animation-delay: 0s;
  	animation-timing-function: ease;
}
.slide5-wrap {
    position: absolute;
    right: 70px;
    top: 270px;
    width: 453px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: fade;
    animation-duration: 5s;
  	animation-delay: 0s;
  	animation-timing-function: ease;
}
.owner-section-wrap{
	width: 100%;
	height: 360px;
	display: flex;
}
.owner-section1{
	width: 50%;
	height: 100%;
	display: flex;
	background-image: url(./images/men-dress.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.owner-section2{
	width: 50%;
	height: 100%;
	display: flex;
	background-image: url(./images/woman.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.owners{
	width: 130px;
	height: 30px;
	display: flex;
	background-color: white;
	opacity: 0.8;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: Helvetica;
	letter-spacing: 0.2mm;
}
.owners:hover{
	transition: 1s ease;
	width: 150px;
}
.pre-owned{
	width: 170px;
	height: 30px;
	display: flex;
	background-color: white;
	opacity: 0.8;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: Helvetica;
	letter-spacing: 0.2mm;
}
.pre-owned:hover{
	transition: 1s ease;
	width: 190px;
}
.menu{
	width: 100%;
	height: 120px;
	display: flex;
	background-color: #e6eae9;
	justify-content: center;
}
.menu-brack{
	width: 22%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.menu-brack:hover{
	opacity: 0.6;
}
.menu-brack:nth-child(1n+1){
	border-right: 1px solid gray;
}
.menu-brack:nth-child(1){
	border-left: 1px solid gray;
}
.menu-items{
	font-family: Helvetica;
	letter-spacing: 0.2mm;
	font-size: 12px;
	font-weight: 700;
	color: black;
	margin-top: 8px;
}
.menu-icon{
	width: 6%;
}
.bottom-menu-wrap{
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
}
.bottom-menu{
	width: 95%;
	height: 80%;
	display: flex;
	justify-content: center;
	margin-left: 20px;
	padding-top: 30px;
}
.bot-men{
	width: 23%;
	height: 100%; 
	display: flex;
	flex-direction: column;
}
.bot-menu-header{
	font-family: Helvetica;
	font-size: 16px;
	letter-spacing: 0.2mm;
	font-weight: 700;
	color: #727376;
}
.bot-menu-disc{
	font-family: Helvetica;
	font-size: 15px;
	letter-spacing: 0.2mm;
	color: black;
	font-weight: 100;
	margin-top: 10px;
	cursor: pointer;
}
.bot-menu-disc:hover{
	color: #355c4d;
}
.media-section-wrap{
	width: 100%;
	height: 20%;
	display: flex;

}
.med-sec{
	width: 350px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
}
.bottom-img{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.facebook{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.twitter{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.youtube{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.pinterest{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.insta{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
footer{
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-menu{
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	border-top: 1px solid grey;
	padding-top: 40px;
}
.footer-items{
	cursor: pointer;
	font-family: Helvetica;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.2mm;
}
.footer-items:hover{
	color: #355c4d;
}
select{
	border-radius: 6px;
	background-color: #d2d2d2;
	border: none;
	cursor: pointer;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 14px;
	background-color: #fffdfd;
}
select:hover{
	color: #355c4d;
}
.licence-wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: auto;
	padding-left: 40px;
}
.licence{
	font-family: Helvetica;
	font-size: 10px;
	align-self: flex-start;
	opacity: 0.8;
}
.headquoter{
	font-family: Helvetica;
	font-size: 10px;
	align-self: flex-start;
	opacity: 0.8;
}